                    <form action="/list/" method="GET">{% csrf_token %}
						<table class="tb">
							<tr>
								<td>
									<div class="gap">
										<div class="field">
											<p>Цена</p>
											<div class="pwmf"><div id="slider_range_price6" class="slider-range"></div></div>
											<p class="row"><label class="col">от&nbsp;{{ form_6.price_from }}</label><label class="col">до&nbsp;{{ form_6.price_to }}</label></p>
										</div>
										<div class="field">
											<p>От СПБ</p>
											<p><label>от&nbsp;{{ form_6.to_city_from }}</label> <label>до&nbsp;{{ form_6.to_city_to }}&nbsp;км</label></p>
										</div>
									</div>
								</td>
								<td>
									<div class="gap">
										<div class="field">
											<p>Участок:</p>
											<p><label>от&nbsp;{{ form_6.homestead_area_from }}</label> <label>до&nbsp;{{ form_6.homestead_area_to }}</label>&nbsp;кв.м.</p>
										</div>
										<div class="field">
											{{ form_6.use_to }}
										</div>
									</div>
								</td>
								<td>
									<div class="gap">
										<div class="field">
											{{ form_6.city }}
										</div>
										<div class="field">
											{{ form_6.district }}
										</div>
										<div class="field">
											{{ form_6.region }}
										</div>
									</div>
								</td>
								<td>
									<div class="gap">
										<div class="field">
											<input type="submit" value="Найти" class="bg-link">
										</div>
									</div>
								</td>
							</tr>
						</table>
                        <input type="hidden" name="form_name" value="form_6">
					</form>