                    <div class="benefits">
						<div class="benefit"><a href="#"><img src="{{ STATIC_URL }}i/ben/1.jpg" alt="214 закон"><span>214 закон</span></a></div>
						<div class="benefit"><a href="#"><img src="{{ STATIC_URL }}i/ben/2.jpg" alt="Полное сопровождение при сделке"><span>Полное сопровождение при сделке</span></a></div>
						<div class="benefit"><a href="#"><img src="{{ STATIC_URL }}i/ben/3.jpg" alt="Только проверенные застройщики"><span>Только проверенные застройщики</span></a></div>
					</div>