                    <div class="login-links">
						<a href="#" class="bg-link">Вход</a>
						<a href="#" class="bg-link">Регистрация</a>
					</div>
					<div class="contacts">
						<div class="phone">
							<img src="{{ STATIC_URL }}i/ico/phone.png" alt="Телефоны">
							<p>8 (123) 456-78-90</p>
							<p>8 (123) 098-76-54</p>
						</div>
						<div class="address">
							<img src="{{ STATIC_URL }}i/ico/home.png" alt="Адрес">
							<p>Ул. Коммунистов-пионеров 45/35, оф. 10, г. Москва</p>
						</div>
					</div>
					<div class="callback">
						<a href="#" class="bg-link">Заказать звонок</a>
					</div>