<div class="wrap footer">
			<div class="footer-separator"></div>
			<div class="three-cols">
				<div class="col">
					<div class="logo"><a href="/"><img src="{{ STATIC_URL }}i/logo.png" alt="78 регион"></a></div>
					<div class="copy">
						<p>&copy;&nbsp;78 регион, 2013<br>Все права защищены</p>
					</div>
				</div>
				<div class="col">
					<div class="three-cols">
						<div class="col">
							<div class="main-menu">
								<ul>
									<li><a href="#">Наши услуги</a></li>
									<li><a href="#">О нас</a></li>
									<li><a href="#">Вакансии</a></li>
									<li><a href="#">Партнёрам</a></li>
									<li><a href="#">Контакты</a></li>
								</ul>
							</div>
						</div>
						<div class="col">
							<div class="catalog-menu">
								<ul>
									<li><a href="#">Объекты на карте</a></li>
									<li><a href="#">Дома в центре</a></li>
									<li><a href="#">Дома на севере</a></li>
									<li><a href="#">Дома на юге</a></li>
									<li><a href="#">Квартиры у метро</a></li>
									<li><a href="#">Загородная недвижимость</a></li>
									<li><a href="#">Зарубежная недвижимость</a></li>
								</ul>
							</div>
						</div>
						<div class="col">
							<div class="social">
								<ul>
									<li><a href="//vk.com"><img src="{{ STATIC_URL }}i/ico/vk.png" alt="Вконтакте"></a></li>
									<li><a href="//twitter.com"><img src="{{ STATIC_URL }}i/ico/tw.png" alt="Твиттер"></a></li>
									<li><a href="//odnoklassniki.ru"><img src="{{ STATIC_URL }}i/ico/ok.png" alt="Одноклассники"></a></li>
									<li><a href="//fb.com"><img src="{{ STATIC_URL }}i/ico/fb.png" alt="Фейсбук"></a></li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col">
					<div class="contacts">
						<div class="phone">
							<img src="{{ STATIC_URL }}i/ico/phone.png" alt="Телефоны">
							<p>8 (123) 456-78-90</p>
							<p>8 (123) 098-76-54</p>
						</div>
						<div class="address">
							<img src="{{ STATIC_URL }}i/ico/home.png" alt="Адрес">
							<p>Ул. Коммунистов-пионеров 45/35, оф. 10, г. Москва</p>
						</div>
					</div>
					<div class="callback">
						<a href="#" class="bg-link">Заказать звонок</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>