<div id="metroMapPopUp" class="reveal-modal">
	<div class="metro-map" id="metro-map">
		<img class="metro-map__img metro-map__img_normal" src="{{ STATIC_URL }}css/metro/metro.png" alt="Карта метро" class="map">
		<img class="metro-map__img metro-map__img_blur" src="{{ STATIC_URL }}css/metro/metro_blur.png" alt="Карта метро" class="map">
		<div class="metro-map__stantions">
			<div class="item">Девяткино</div>
			<div class="item">Гражданский проспект</div>
			<div class="item">Академическая</div>
			<div class="item">Политехническая</div>
			<div class="item">Площадь Мужества</div>
			<div class="item">Лесная</div>
			<div class="item">Выборгская</div>
			<div class="item">Площадь Ленина</div>
			<div class="item">Чернышевская</div>
			<div class="item">Площадь Восстания</div>
			<div class="item">Владимирская</div>
			<div class="item">Пушкинская</div>
			<div class="item">Технологический институт</div>
			<div class="item">Балтийская</div>
			<div class="item">Нарвская</div>
			<div class="item">Кировский завод</div>
			<div class="item">Автово</div>
			<div class="item">Ленинский проспект</div>
			<div class="item">Проспект Ветеранов</div>
			<div class="item">Парнас</div>
			<div class="item">Проспект Просвещения</div>
			<div class="item">Озерки</div>
			<div class="item">Удельная</div>
			<div class="item">Пионерская</div>
			<div class="item">Чёрная речка</div>
			<div class="item">Горьковская</div>
			<div class="item">Невский проспект</div>
			<div class="item">Сенная площадь</div>
			<div class="item">Фрунзенская</div>
			<div class="item">Московские ворота</div>
			<div class="item">Электросила</div>
			<div class="item">Парк Победы</div>
			<div class="item">Московская</div>
			<div class="item">Звёздная</div>
			<div class="item">Купчино</div>
			<div class="item">Приморская</div>
			<div class="item">Василеостровская</div>
			<div class="item">Гостиный двор</div>
			<div class="item">Маяковская</div>
			<div class="item">Площадь Александра Невского</div>
			<div class="item">Елизаровская</div>
			<div class="item">Ломоносовская</div>
			<div class="item">Пролетарская</div>
			<div class="item">Обухово</div>
			<div class="item">Рыбацкое</div>
			<div class="item">Спасская</div>
			<div class="item">Достоевская</div>
			<div class="item">Лиговский проспект</div>
			<div class="item">Новочеркасская</div>
			<div class="item">Ладожская</div>
			<div class="item">Проспект Большевиков</div>
			<div class="item">Улица Дыбенко</div>
			<div class="item">Комендантский проспект</div>
			<div class="item">Старая Деревня</div>
			<div class="item">Крестовский остров</div>
			<div class="item">Чкаловская</div>
			<div class="item">Спортивная</div>
			<div class="item">Адмиралтейская</div>
			<div class="item">Садовая</div>
			<div class="item">Звенигородская</div>
			<div class="item">Обводной канал</div>
			<div class="item">Волковская</div>
			<div class="item">Бухарестская</div>
			<div class="item">Международная</div>
			<div class="item">Петроградская</div>
		</div>
	</div>
	<div  class="metro-map-save"><input type="button" class="close-reveal-modal bg-link" value="Сохранить выбранные и закрыть окно"><span>&nbsp;или <a href="#clear-all" class="metro-map-clear">очистить</a></span></div>
	<a class="close-reveal-modal close-reveal-modal_link">×</a>
</div>