    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/metro/metro.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reveal.css">
	<script src="http://yandex.st/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://yandex.st/jquery-ui/1.10.3/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://yandex.st/jquery-ui/1.10.3/themes/base/jquery-ui.min.css">
	<script src="{{ STATIC_URL }}js/slider.js"></script>
	<script src="{{ STATIC_URL }}js/site.js"></script>
	<script src="{{ STATIC_URL }}js/metro.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.reveal.min.js"></script>