{% extends 'base.html' %}

{% block page_content %}
        <div class="wrap page-content">
			<div class="three-cols">
				<div class="col">
					<div class="aside">
						<div class="aside_block aside_block-bd">
							<div class="title">Быстрый поиск</div>
							<div class="body">
								<div class="fast-search" id="fast_search">
							        {% include 'forms/form-fast-search.html' %}
								</div>
							</div>
						</div>
						<div class="aside_block aside_block-bd">
							<div class="title">Новости</div>
							<div class="body">
								<dl class="last-news">
									<dt><span>11.12.13</span></dt>
									<dd>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nemo nulla id pariatur eum veritatis quae nihil itaque aliquid officia!</p>
										<p><a href="#more">Подробнее</a></p>
									</dd>
									<dt><span>11.12.13</span></dt>
									<dd>
										<p> Harum, explicabo, nemo nesciunt quaerat repellat mollitia tenetur ullam quibusdam.</p>
										<p><a href="#more">Подробнее</a></p>
									</dd>
									<dt><span>11.12.13</span></dt>
									<dd>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nemo nulla id pariatur eum veritatis quae nihil itaque aliquid officia!</p>
										<p><a href="#more">Подробнее</a></p>
									</dd>
								</dl>
								<p align="right"><a href="#" class="to-all-news">Все новости</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col" id="tab_result">
					<div class="results tab active">
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
					</div>
					<div class="results tab">
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
					</div>
					<div class="results tab">
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
					</div>
					<div class="results tab">
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
					</div>
					<div class="results tab">
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
					</div>
					<div class="results tab">
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
					</div>
					<div class="results tab">
						<div class="result object-card">
							<div class="gap">
								<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
								<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="aside">
						<div class="aside_block">
							<div class="body">
								<div class="youtube">
									<img src="{{ STATIC_URL }}i/youtube.jpg" alt="Youtube">
								</div>
								<p><a href="#">Посмотреть всё видео</a></p>
							</div>
						</div>
						<div class="aside_block aside_block-bd">
							<div class="title">
								Специальные предложения
							</div>
							<div class="body">
								<div class="special-offers">
									<div class="offer object-card">
										<div class="gap">
											<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
											<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
										</div>
									</div>
									<div class="offer object-card">
										<div class="gap">
											<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
											<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
{% endblock %}