{% extends 'base.html' %}

{% block title %}
Список
{% endblock %}

{% block slider %}

{% endblock %}

{% block page_content %}
        <div class="wrap page-content">
			<div class="two-cols">
				<div class="col">
					<div class="found-num">
						Всего найдено объектов: <b>1292</b>
					</div>
					<div class="filters">
						<div class="span">&nbsp;</div>
						<div class="span">
							<div class="paginator">
								<ul>
									<li class="active">1</li>
									<li>2</li>
									<li>3</li>
									<li>...</li>
									<li>100</li>
								</ul>
							</div>
						</div>
						<div class="span">
							<div class="show-num">
								Показывать на странице: <span class="active">25</span>&nbsp;<span>50</span>&nbsp;<span>100</span>
							</div>
						</div>
						<div class="cl"></div>
					</div>
					<div class="search-result">
						<div class="items">
							<div class="item item_header">
								<span class="inner">
									<span class="span photo">Фото</span>
									<span class="span address">Адрес</span>
									<span class="span rooms">Комн</span>
									<span class="span price">Цена</span>
									<span class="span square_total">S общ</span>
									<span class="span square_live">S жил</span>
									<span class="span square_kitchen">S кухн.</span>
									<span class="span floor">Этаж</span>
									<span class="span house_type">Тип дома</span>
									<span class="span contact">Контакты</span>
									<span class="span descr">Описание</span>
								</span>
							</div>
							<a href="#" class="item">
								<span class="inner">
									<span class="span photo">
										<img src="{{ STATIC_URL }}i/result.jpg" alt="">
									</span>
									<span class="span address">Дача, Московская обл., с. Лепайское</span>
									<span class="span rooms">5</span>
									<span class="span price">120</span>
									<span class="span square_total">33</span>
									<span class="span square_live">18</span>
									<span class="span square_kitchen">7,80</span>
									<span class="span floor">3/9</span>
									<span class="span house_type">Панельный</span>
									<span class="span contact">+7 (123) 098-76-54<br>+7 (495) 098-76-54</span>
									<span class="span descr">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellat, cum, repellendus pariatur excepturi facilis tempora accusamus ratione quibusdam suscipit eius fugiat animi similique consequatur veritatis rerum saepe perferendis deleniti!</p>
									</span>
								</span>
							</a>
							<a href="#" class="item">
								<span class="inner">
									<span class="span photo">
										<img src="{{ STATIC_URL }}i/result.jpg" alt="">
									</span>
									<span class="span address">Дача, Московская обл., с. Лепайское</span>
									<span class="span rooms">5</span>
									<span class="span price">120</span>
									<span class="span square_total">33</span>
									<span class="span square_live">18</span>
									<span class="span square_kitchen">7,80</span>
									<span class="span floor">3/9</span>
									<span class="span house_type">Панельный</span>
									<span class="span contact">+7 (123) 098-76-54<br>+7 (495) 098-76-54</span>
									<span class="span descr">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellat, cum, repellendus pariatur excepturi facilis tempora accusamus ratione quibusdam suscipit eius fugiat animi similique consequatur veritatis rerum saepe perferendis deleniti!</p>
									</span>
								</span>
							</a>
						</div>
					</div>
					<div class="filters">
						<div class="span">&nbsp;</div>
						<div class="span">
							<div class="paginator">
								<ul>
									<li class="active">1</li>
									<li>2</li>
									<li>3</li>
									<li>...</li>
									<li>100</li>
								</ul>
							</div>
						</div>
						<div class="span">&nbsp;</div>
					</div>
				</div>
				<div class="col">
					<div class="aside">
						<div class="aside_block">
							<div class="body">
								<div class="youtube">
									<img src="{{ STATIC_URL }}i/youtube.jpg" alt="Youtube">
								</div>
								<p><a href="#">Посмотреть всё видео</a></p>
							</div>
						</div>
						<div class="aside_block aside_block-bd">
							<div class="title">
								Специальные предложения
							</div>
							<div class="body">
								<div class="special-offers">
									<div class="offer object-card">
										<div class="gap">
											<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
											<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
										</div>
									</div>
									<div class="offer object-card">
										<div class="gap">
											<div class="info"><a href="#">Дача, Московскя обл., с. Лиепайское, ул. Победы, д. 16<span class="image"><img src="{{ STATIC_URL }}i/result.jpg" alt=""></span></a></div>
											<div class="price">150 т.руб.</div>
								<div class="descr">Деревянный дом на дачном участке, отдаленном от цивилизации</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
{% endblock %}